

.nav-pills {
    --bs-nav-pills-border-radius: 1rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #5F9AC1 !important;
    --bs-nav-link-color: black;
    --bs-link-hover-color: #050517;
}